<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h2>Mis Heroes</h2>
        <ul class="heroes">
            <li>
                <span class="badge">{{heroe.id}}</span>.{{heroe.name}}
            </li>
            <li *ngFor="let heroe of heroes"></li>
            <button type="button" (click)="onSelect(hero)"></button>
        </ul>
    </body>
</html>
