<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h2>Mis Heroes</h2>
        <ul class="heroes">
            <li *ngFor="let heroe of heroes">
                <!-- <button [class.selected]="heroe ===seleccionarHeroe" type="button" (click)="onSelect(heroe)">
                    <span class="badge">{{heroe.id}}</span>
                    <span class="name">{{heroe.name}}</span>
                </button> -->
                <a routerLink="/detail/{{heroe.id}}">
                    <span class="badge">{{heroe.id}}</span> {{heroe.name}}
                </a>
                <button type="button" class="delete" title="eliminar heroe" (click)="eliminar(heroe)">x</button>
            </li>
            
        </ul>
        <div>
            <label for="nuevo-heroe">Nombre Heroe: </label>
            <input id="new-hero" #heroName />
            <button type="button" class="add-button" (click)="anadir(heroName.value)">Añadir Heroe</button>
            
        </div>
        <!-- <app-hero-detail [heroe]="seleccionarHeroe"></app-hero-detail> -->
    </body>
</html>
